
form {
 margin-top:10px;
 overflow:hidden;}
 
label {
 clear: both;
 float: left;
 width: 40%;}

field {
 float: left;
 width: 55%;}

body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-color: white;
    margin: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}


.datatable {
	background-color: white;
	width: 100%;
	opacity: 1.00;
	border-collapse: collapse;
	border:none;
 }

table.datatable td{
	padding: 10px;
	text-align: center;
}

table.datatable th{
	background-color: #3465a4;
	color:white;
	padding: 10px;
	font-style: bold;
}

table.datatable tr:nth-child(even) {
	background-color: #f2f2f2;
}

.inv {
    display: none;
}

.sub {
	font-size: 16px;
}
div.trans {
  margin: 100px;
  padding: 50px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, .83);
}

div.reservations {
	background-color: #3465a4;
	color: white;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	width: 50%;
	opacity: 1.00;
}
