
form {
 /*width: 500px;*/
 overflow:hidden;}
 
label {
 clear: both;
 float: left;
 width: 40%;}

field {
 float: left;
 width: 55%;}
 
body {
 	margin: 50px; 
    background-color: powderblue;
}

.datatable {
	background-color: #80c1ca;
 	border-style: ridge;
	border-color: black;
	width: 100%;
 }

table.datatable td{
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

table.datatable th{
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

.inv {
    display: none;
}

.sub {
	font-size: 16px;
}

div.reservations {
	background-color: #ddf5f8;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	width: 50%;
}
